@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');



* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  }

  :root{
    --bgColor: #464646;
    --windowColor: #717171;
    --windowBorder: #787878;
    --shadow: rgba(27, 27, 27, 0.24);
    --greenCorrect:#8DDE98;
    --textOnGreen: #464646;
    --darkGrey: #6E6E6E;
    --lightGrey: #CBCBCB;
  }

  html {
    font-size: 62.5%;
  }
  
  body {
    background-color: var(--bgColor);
    color: var(--lightGrey);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
  }


/* Start menu */
.startPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

.startPageContainer h1 {
    font-size: 4rem;
    font-weight: 400;
}

.startPageContainer h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 8px;
}

.levelSelection {
    display: flex;
    margin: 30px 0;
}

.levelSelection .levelCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--darkGrey);
    margin: 0 5px;
    cursor: pointer;
}

.levelSelection .levelCircle.activeLevel{
   background-color: var(--greenCorrect);
}

.start-btn {
    margin-top: 10px;
}

.btn {
    background-color: var(--greenCorrect);
    border: 0;
    border-radius: 50px;
    font-weight: 700;
    color: var(--textOnGreen);
    padding: 1rem 2rem;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: none;
}

/* End of start menu */

/* Theory lecture */
.theory-lecture {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.question {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.keyboard {
    background-color: var(--windowColor);
    border-radius:20px;
    padding: 20px;
    /* border: 2px solid var(--windowBorder);
    box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.062); */
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}

.key {
    background-color: var(--bgColor);
    color: var(--lightGrey);
    border-radius: 10px;
    /* border: 1px solid rgb(39, 39, 39); */
    /* box-shadow: 1px 1px 2px 0.5px var(--shadow); */
    grid-column: span 2;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.key:active {
    transform: scale(0.97);
}


.correct {
    background-color: var(--greenCorrect);
    border-color: var(--greenCorrect);
    color: var(--textOnGreen);
}
.incorrect {
    background-color: var(--redWrong);
}

.delete {
    grid-column: span 4;
}
.tab {
    grid-column: span 3;
}
.backslash {
    grid-column: span 3;
}
.capslock {
    grid-column: span 4;
}
.enter {
    grid-column: span 4;
}
.leftshift {
    grid-column: span 5;
}
.rightshift {
    grid-column: span 5;
}
.leftctrl {
    grid-column: span 3;
}
.windows .fa-window {
    color: #fff;
}
.space {
    grid-column: span 10;
}
.arrowKeys {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
}
.arrowKeys-row {
    display: flex;
    justify-content: center;
}
.arrowKey {
    width: 75px;
    height: 25px;
    margin: 2.5px;
}


.help {
    margin-top: 40px;
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.help .answer {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    padding: 3rem 4rem;
}




/* End of theory lecture */


/* Results screen */
.resultsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    margin-top: -100px;
}

.resultsScreen .emoji {
    font-size: 8rem;
    color: var(--lightGrey);
}

.resultsScreen .message {
    font-size: 2rem;
    color: var(--lightGrey);
}

.resultsScreen .resultsBar {
    background-color: var(--darkGrey);
    height: 30px;
    width: 400px;
    margin: 1.5rem 0;
    border-radius: 20px;
    overflow: hidden;
}


.resultsScreen .resultsBar .resultsBar-fill {
    background-color: var(--greenCorrect);
    height: 30px;
    width: 0px;
    border-radius: 20px;
    transition: all 1.5s ease;
}

.resultsScreen .again-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* End results screen */

.hidden {
    display: none;
}
.inactive {
    color:var(--inactiveText);
}